body {
    background-color: black;
}
    

#search-text {
    border-radius: 10px;
    
}

.row {
    border-radius: 10px;
}
#movies .col .card:hover{
    transform: scale(1.1);
}
#shows .col .card:hover{
    transform: scale(1.1);
}
.card {
    border-radius: 15px;
}

#logo{
    margin-left:10px;
}

ul li {
    margin-right: 10px;
}

h1 {
     border-radius: 10px;
}

#movies img, #movie img {
     width: 100%;
     

}
#movies h6 {
     font-size: small;
}

/*---Shows CSS----*/
#show img, #shows img {
    width: 100%;


}
#shows h6 {
    font-size: small;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



/* For screen size smaller than 601px */
#movies .col .card {
    height: 350px;
}

#movies .col img {
    height: 270px;
}

#shows .col .card {
   height: 350px;
}

#shows .col img {
   height: 270px;
}


/*----Media--*/
@media(min-width:601px) {
    #movies .col .card {
           height: 300px;
   }
      
   #movies .col img {
           height: 200px;
   }
      
   #shows .col .card {
          height: 300px;
   }
      
   #shows .col img {
          height: 200px;
   }
   #movies .col .card a {
       font-size: 7px;
   }
   #shows .col .card a {
       font-size: 7px;
   }
   
   }


@media(min-width:960px) {
 #movies .col .card {
     height: 350px;
}

 #movies .col img {
     height: 250px;
}

 #shows .col .card {
    height: 350px;
}

#shows .col img {
    height: 250px;
}
#movies .col .card a {
    font-size: 10px;
}
#shows .col .card a {
    font-size: 10px;
}
}



